#pagewrap {
  padding: 5px;
  height: 90%;
  width: 90%;
  margin: 20px auto;
}

.angular-google-map-container {
  height: 400px;
}

.start-content {
  width: 90%;
  margin: 0 2% 0 2%;
}

#start-page-wrap {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
  .start-content {
  margin-bottom: 0;
  }
}
header {
  height: 100px;
  padding: 0 15px;
}

.auth-view {
  width: 220px;
  height: auto;
  margin-left: 40%;
  margin-top: 40px;
  label {
    margin-left: 5px;
    display: block;
    }
  input {
    height: 15px;
    width: 80%;
  }
}

footer {
  clear: both;
  padding: 0 15px;
  margin-top: 80px;
}

.map-div {
  height: 30%;
  width: 90%;
  float: left;
  padding: 5px 15px;
  margin-top: 40px;
}
.forecast-list {
  height: auto;
  width: 90%;
  float: left;
  padding: 5px 5px;
  margin-top: 50px;
  margin-left: 10px;
  clear: both;
  .weather {
  height: auto;
  width: 95%;
  padding: 5px 15px;
  }
}
.logout {
  margin-left: 20px;
  width: 90%;
}

/***MEDIA QUERIES**/
/* for 980px or less */
@media screen and (max-width: 980px) {

  #pagewrap {
    width: 94%;
  }

  .auth-view {
  margin-left: 30%;
  }

  #all-trails {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  .map-div {
    width: 90%;
    float: none;
  }
  footer {
    padding: 1% 4%;
  }

  #start-page-wrap  {
    width: 94%;
  }
  .start-content {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1% 4%;
  }

  header, footer {
    padding: 1% 4%;
  }
}
@media screen and (max-width: 700px) {
.trail-list {
  font-size: .8em;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {
  .map-div {
    width: auto;
    float: none;
  }

  .auth-view {
  margin-left: 20%;
  }

  #all-trails {
    width: auto;
    float: none;
  }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
  #page-wrap {
    height: 200px;
  }
  .start-content {
  width: 90%;
  height: 10%;
  margin: 0 2% 1% 2%;
  }
  header {
    height: auto;
  }
  .trail-list {
    font-size: .6em;
    }
  h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }
  #all-trails {
    height: 20%;
  }

  footer {
    height: 100px;
    width: 100%;
  }

  .map-div {
    width: auto;
  }

  .trail-list {
    font-size: 0.8em;
    li {
      padding-bottom: 5px;
      }
    }
}

.map-div {
  background: #f8f8f8;
}

#all-trails, .about-logout, .logout, h3, .collaborators {
  background-color: rgba(164, 191, 208, 0.5);
}

.weather, .map-div, #all-trails, header, .start-content, .auth-view {
  margin-bottom: 5px;
}

.weather, .map-div, #all-trails {
  border: solid 1px #ccc;
}
