.fwh-title {
  max-width: 70%;
}
.auth-view {
  background-color: #4EBD51;
  font-size: 1em;
  width: 320px;
  height: auto;
  margin: 15%;
  div {
    margin-left: 30px;
  }
  input {
    height: 15px;
    width: 160px;
  }
}

// .logout {
//   height: 40px;
//   p {
//     font-size: 1.5em;
//   }
// }

.forecast-list {
  li {
    font-size: 1.5em;
  }
}
